:root {
  --dark-color: #285495;
  --gold-color: #e9ba00;
}
::selection {
  color: #fff;
  background-color: var(--dark-color);
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  scroll-behavior: smooth;
}
a,
a:hover {
  color: #fff;
}
section {
  padding-top: 120px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}
.section-title {
  font-size: 2.3rem;
  font-weight: 700;
}
.section-desc {
  color: var(--gold-color);
}
/* ========================NAVBAR=================================== */

.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar .navbar-brand img {
  width: 70px;
}
.navbar .navbar-brand span {
  font-weight: 700;
  font-size: 24px;
}
.nav-link {
  color: #fff;
  font-weight: 700;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: var(--gold-color);
}
.navbar-toggler {
  color: #fff;
  font-size: 25px;
  border: 2px solid #fff;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler[aria-expanded="true"] {
  border-color: var(--gold-color);
}
/* =====================LANDING====================================== */
.landing {
  background-color: var(--dark-color);
  height: 100vh;
  position: relative;
}

.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing h1 {
  font-size: 3rem;
}
.landing p {
  color: var(--gold-color);
  font-weight: 500;
}

section#diploma_schedule {
  padding: 0;
}
/* ===================================================== */
.subjects-body button {
  background-color: var(--dark-color);
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}

.subjects-body button:hover {
  background-color: #1e4072;
  color: rgb(161, 161, 161);
}
/* ======================================================== */
.lecture-body button {
  font-size: 1.1rem;
  font-weight: 700;
}
.cs500-content_sections .all_sections-btn {
  background-color: #31d2f2;
}
.cs500-content_sections .all_sections-btn:hover {
  background-color: #269fb8;
  color: #fff;
}
